<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoelWu.Clash.SDK" version="1.1.10" targetFramework="net461" />
  <package id="CoelWu.Garbage.Collector" version="1.0.0" targetFramework="net461" />
  <package id="Dirkster.WatermarkControlsLib" version="1.1.0" targetFramework="net461" />
  <package id="Emoji.Wpf" version="0.3.0" targetFramework="net461" />
  <package id="HMBSbige.SingleInstance" version="1.1.0" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="4.4.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="ToggleSwitch" version="1.2.0" targetFramework="net461" />
  <package id="URIScheme" version="5.0.0" targetFramework="net461" />
  <package id="VirtualizingWrapPanel" version="1.5.3" targetFramework="net461" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net461" />
  <package id="WindowsFirewallHelper" version="2.0.4.70-beta2" targetFramework="net461" />
  <package id="WindowsProxy" version="5.0.3" targetFramework="net461" />
  <package id="YamlDotNet" version="9.1.4" targetFramework="net461" />
</packages>